.wrapper {
    background-color: var(--bg-body);
    /* 改為白色，才能看出原本被相同底色隱藏的 margin 間距 */
    width: 1024px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px 2px var(--text-light);
}

.logo {
    background-color: var(--primary-color);
    width: 1024px;
    height: 80px;
    font-size: 50px;
    text-align: center;
    line-height: 80px;
    color: var(--text-dark);
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav {
    background-color: var(--bg-nav);
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav ul {
    display: inline-block;
}

nav ul li {
    list-style-type: none;
    float: left;


}

nav ul li a {
    display: block;
    background-color: var(--primary-color);
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-light);
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 2px 2px 2px 2px var(--text-dark);
    margin-right: 15px;
}

nav ul li a:hover {
    background-color: var(--primary-hover);
    color: var(--text-dark);
    box-shadow: 2px 2px 2px 2px var(--text-light);
    border-radius: 8px;
}

.content {
    background-color: var(--bg-wrapper);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--LightBronze);
    font-weight: bold;
}

.content p {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-light);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.content a {
    display: block;
    background-color: var(--secondary-color);
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: var(--text-dark);
    border-radius: 8px;
}

.content a:hover {
    background-color: var(--secondary-hover);
    color: var(--bg-body);
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px var(--text-dark);
    border-radius: 8px;
}

.footer {
    background-color: var(--bg-footer);
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: var(--text-dark);
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 95%;
    }

    .banner .logo {
        width: 100%;
        height: 100px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        height: auto;
    }

    nav ul {
        display: block;
    }

    nav ul li {
        float: none;

    }

    nav ul li a {
        display: block;
        width: 90%;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 5px;
    }
}