.wrapper {
    background-color: #FFFFFF;
    /* 改為白色，才能看出原本被相同底色隱藏的 margin 間距 */
    width: 1024px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px 2px #252525;
}

.logo {
    background-color: aquamarine;
    width: 1024px;
    height: 80px;
    font-size: 50px;
    text-align: center;
    line-height: 80px;
    color: #000000;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav {
    background-color: #F0EAD2;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav ul {
    display: inline-block;
}

nav ul li {
    list-style-type: none;
    float: left;


}

nav ul li a {
    display: block;
    background-color: #A98467;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 2px 2px 2px 2px #252525;
    margin-right: 15px;
}

nav ul li a:hover {
    background-color: darkcyan;
    box-shadow: 2px 2px 2px 2px #252525;
    border-radius: 8px;
}

.content {
    background-color: tan;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    font-weight: bold;
}

.content p {
    font-size: 24px;
    font-weight: bold;
    color: #a04300e4;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.content a {
    display: block;
    background-color: #F0EAD2;
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #6C5C4C;
    border-radius: 8px;
}

.content a:hover {
    background-color: #6C584C;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px #252525;
    border-radius: 8px;
}

.footer {
    background-color: #F0EAD2;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #A98467;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 95%;
    }

    .banner .logo {
        width: 100%;
        height: 100px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        height: auto;
    }

    nav ul {
        display: block;
    }

    nav ul li {
        float: none;

    }

    nav ul li a {
        display: block;
        width: 90%;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 5px;
    }
}